@inherits ViewComponentBase
<h3>ForecastDayView - @ForecastSummary</h3>
<p>Last heartbeat: @TimeStamp</p>
@code {
    public string ForecastSummary { get; set; } = null!;
    public string TimeStamp { get; set; } = null!;

}