@inherits Palermo.BlazorMvc.LayoutViewComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
        <div>
            @SidebarBottom
        </div>
        <div style="background-color: white">
            @SidebarCounter
        </div>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    public RenderFragment? SidebarBottom { get; set; } 
    public RenderFragment? SidebarCounter { get; set; }

}