@inherits Palermo.BlazorMvc.ViewComponentBase
@using Sample.BlazorServerNet6.Models
@implements IListener<Sample.BlazorServerNet6.Models.ApplicationHeartbeat>

<h1>Counter</h1>

<p ref="currentCount">Current count: @Model</p>

<button class="btn btn-primary" ref="counterButton" @onclick="OnIncrement">Click me</button>
<p>@Time</p>

@code {

    public Action OnIncrement { get; set; } = null!;
    public int Model { get; set; }
    public string? Time { get; set; }
    public void Handle(ApplicationHeartbeat theEvent)
    {
        Time = theEvent.Time.ToLongTimeString();
        StateHasChanged();
    }

}