@inherits ViewComponentBase
<h3>ForecastDayView</h3>
<h3>@ForecastSummary</h3>
<p>@TimeStamp</p>
@code {
    public string ForecastSummary { get; set; } = null!;
    public string TimeStamp { get; set; } = null!;

}