@inherits Palermo.BlazorMvc.ViewComponentBase

<h1>Counter</h1>

<p ref="currentCount">Current count: @Model as of @Time</p>

<button class="btn btn-primary" @onclick="OnIncrement" ref="counterButton">Click me</button>

@code {

    public Action OnIncrement { get; set; } = null!;
    public int Model { get; set; }
    public string Time { get; set; } = null!;
}


